*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 3000px;
    max-width: 1500px;
}
.siteHeader, .navegacionPrincipal{
    width: 72%;
    margin: 10px auto;
}
.contenidoPrincipal{
    width: 80%;
    margin: 20px auto;
    float:left;
}
.barra{
    background-color: #ff0066;
    height: 30px;
}
.navegacionPrincipal a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    margin: auto;
    margin-right: 40px;
}
.entrada img{
    float:left;
    margin:0px 20px 10px 0px;
}
.entrada h2{
    color:#0080ff;
    list-style:none;
    text-decoration: none;
}
.entrada p{
    font-family: Arial;
    color:black;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}
.contenedorclearfix{
    width:75%;
    margin:10px auto;
}
.otraEntradas h2{
    color:#0080ff;
}
.otraEntradas ul li {
    list-style: none;
}
.otraEntradas ul li a{
    text-decoration: none;
    color:#0080ff;
}
.boton{
    text-decoration: none;
    width:30px;
    height: 5px;
    background-color: #0080ff;
    color:white;
    font-family:  Arial;
    font-size: 15px;
}
.sidebar{
    line-height: 30px;
    margin:40px 30px;
    width:12%;
    float:left;
}
.footerSitio{
    clear: both;
    background-color: #ff0066;
    margin-top: 30px;
    height: 175px;
}
.nosotros{
    font-family: arial;
    font-size: 15px;
    width: 34%;
    padding: 10px;
    color:white;
    float:left;
}
.menu{
    font-family: arial;
    font-size: 15px;
    width: 34%;
    padding: 10px;
    margin:auto 150px;
    color:white;
    float:left;
}
.menu a{
    text-align: left;
    color:white;
    text-decoration: none;
}
.copyright{
    font-family: arial;
    text-align: center;
    clear:both;
    color:white;
    background-color:#cc0052;
}

